*{
    box-sizing: border-box;
}

h1{
    color: red;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
}

header nav ul li a{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

h3{
    color: chocolate;
    background-color: darkgreen;
}