*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.5;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
}

header div h1{
    font-size: 1.1rem;
    margin: 0;
    color: #fff;
}

header div img{
    border-radius: 50%;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0.1rem 0.5rem;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    width: 100%;
}

header nav ul li {
    width: 100%;
}

header nav ul li a{
    display: inline-block;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    width: 100%;
}

header nav ul li a:hover{
    background-color: beige;
    color: black;
}

.contenedor{
    max-width: 1024px;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    overflow: hidden;
    width: 320px;
    border: 1px solid #000;
    border-radius: 9px;
    box-shadow: 3px 3px 5px #000;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .cardBody {
    padding: 0.5rem;
}


.card .cardFooter button {
    background-color: darkcyan;
    color: #fff;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 0.85rem 0.75rem;
}

.hero-panel{
    position: relative;
    width: 100%;
    height: 80vh;
}

.hero-panel img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

.hero-panel div{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
    box-shadow: 1px 1px 3px black;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-panel div.q1{
    top: 25%;
    left: 25%
}


.hero-panel div.q2{
    top: 75%;
    left: 75%
}

.btn-accent{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #eee;
    background-color: steelblue;
    padding: 0.75rem 1rem;
    border-radius: 17px;
    box-shadow: 1px 1px 3px rgb(32, 81, 121);
}

@media (min-width: 768px) {
    header{
        background-color: #777;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    header nav ul li a{
        border-bottom: none;
    }
}

@media (min-width: 1025px) {
    header{
        background-color: #510000;
        flex-direction: row;
    }
    
    header nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 0.5rem;
    }
    
    header nav ul li a{
        display: inline-block;
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    
    header nav ul li a:hover{
        background-color: beige;
        color: black;
    }
}

@media (min-width: 2300px) {
    header{
        background-color: black;
    }
}